<?xml version="1.0" encoding="UTF-8"?>
<translation>
  <input>
    <path location="src_hs/" />
  </input>
  <output location="dst_thy" />
  <customisation>
    
    <monadInstance name="MyStateM">
      <doSyntax>do od</doSyntax>
      <constants>
	return return
	liftM liftM
      </constants>
    </monadInstance>
    
    <monadInstance name="MyErrorM">
      <doSyntax>doE odE</doSyntax>
      <constants>
	return returnE
	liftM liftME
      </constants>
      <lifts>
	<lift from="MyStateM" by="lift" />
      </lifts>
    </monadInstance>
    
    <replace>
      <module name="Text.PrettyPrint.HughesPJ" />
      <theory name="Empty" location="Empty.thy">
	<constants>
	  cat comma empty parens punctuate text &lt;&gt;
	</constants>
      </theory>
    </replace>
    <replace>
      <module name="Monads" />
      <theory name="Empty" location="Empty.thy">
	<monads>
	  MyStateM MyErrorM
	</monads>
	<constants>
	  get put
	</constants>
      </theory>
    </replace>
  </customisation>
</translation>