<?xml version="1.0" encoding="UTF-8"?>
<translation>
  <input>
    <file location="src_hs/Depend.hs" />
  </input>
  <output location="dst_thy" />
  <customisation>
    <replace>
      <module name="System.IO" />
      <theory name="Empty" location="Empty.thy">
	<export>
	  something
	</export>
      </theory>
    </replace>
  </customisation>
</translation>